<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Comments</title>
</head>
<body>
  <h1>New Comment</h1>
  <form action="/comments" method="post">
    <span>
      <label for="UserName">Enter UserName</label>
      <input id="UserName" type="text" name="username">
    </span>
    <span>
      <label for="comment">Enter comment</label>
      <input id="comment" type="text" name="comment">
    </span>
    <button>submit</button>
  </form>
  <a href="/comments"> Check all comments</a>
</body>
</html>